/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

//Ignore Production Server configurations
php.ini
error_log
composer.phar
public/.htaccess
public/php.ini
public/index.php